<template>
    
    <template if:true={isSuccess}>
        <div style="position:absolute;top:1rem;left:1rem;right:1rem">
            <div class="slds-notify_container slds-is-relative">
                <div class="slds-notify slds-notify_toast slds-theme_success" role="status">
                    <span class="slds-assistive-text">success</span>

                    <span class="slds-icon_container slds-icon-utility-success slds-m-right_small slds-no-flex slds-align-top" title="">
                        <lightning-icon icon-name="utility:success" alternative-text="success" variant="inverse" size="small" ></lightning-icon>
                    </span>

                    <div class="slds-notify__content">
                        <h2 class="slds-text-heading_small ">{header}</h2>
                        <p>{message}</p>
                    </div>
                    <div class="slds-notify__close">
                        <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close" onclick={handleToastClose}>
                            <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small" ></lightning-icon>
                            
                            <span class="slds-assistive-text">Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template if:true={isError}>
        <div style="position:absolute;top:1rem;left:1rem;right:1rem">
            <div class="slds-notify_container slds-is-relative">
                <div class="slds-notify slds-notify_toast slds-theme_error" role="status">
                    <span class="slds-assistive-text">error</span>

                    <span class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top" title="">
                        <lightning-icon icon-name="utility:error" alternative-text="error" variant="inverse" size="small" ></lightning-icon>
                    </span>

                    <div class="slds-notify__content">
                        <h2 class="slds-text-heading_small ">{header}</h2>
                        <p>{message}</p>
                    </div>
                    <div class="slds-notify__close">
                        <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close" onclick={handleToastClose}>
                            <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small" ></lightning-icon>
                            
                            <span class="slds-assistive-text">Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </template>
    
</template>