<template>

    <template if:true={isRequired}>
        <abbr title="required" class="slds-required">*</abbr>
    </template>
    <label class="slds-form-element__label" for="combobox-id-1">{inputLabel}</label>

    <template if:true={isDisabled}>
        <lightning-textarea name="input7" 
            variant="label-hidden" 
            value={outputValue}
            placeholder={inputPlaceholder} 
            onchange={getOutputValue}
            maxlength="140" 
            disabled>
        </lightning-textarea>
    </template>
    <template if:false={isDisabled}>
        <lightning-textarea name="input7" 
            variant="label-hidden" 
            value={outputValue}
            placeholder={inputPlaceholder} 
            onchange={getOutputValue}
            maxlength="140" >
        </lightning-textarea>
    </template>
</template>