<template>       
    <lightning-card title={titleWithCount}  icon-name="standard:record" class="CORE_LWC_my-card" >
        <Lightning-layout multiple-rows="true">  
            <lightning-layout-item flexibility="auto" size="11" padding="around-small">
                <lightning-input type = "search" variant="label-hidden" onchange={handleKeyChange} value={searchByName} placeholder ={label.SearchTextLbl} > 
                </lightning-input>
            </lightning-layout-item>

            <lightning-layout-item flexibility="auto, no-grow" padding="around-small" alignment-bump="left">
                <lightning-button-icon
                title="Refresh and reorder by default" 
                icon-name="action:refresh"
                alternative-text="Refresh and reorder by default"
                onclick={refreshComponent}></lightning-button-icon>
            </lightning-layout-item>
        </lightning-layout>  
    
        <div slot="footer">
            <template if:true={listRecords}>
                <div style={datatableHeight}>
                    <c-core_custom-data-table
                        data={listRecords}
                        columns={columns}
                        key-field="id"
                        sorted-by={sortBy}
                        sorted-direction={sortDirection}
                        onsort={doSorting}
                        hide-checkbox-column="true"
                        show-row-number-column="true">
                    </c-core_custom-data-table>
                </div>
            </template>

            <template if:true={error}>
                <div class="slds-notify slds-notify_alert slds-alert_error CORE_Error" role="alert">
                    <span class="slds-assistive-text">error</span>
                    <span class="slds-icon_container slds-icon-utility-error slds-m-right_x-small" title="Description of icon when needed">
                      <lightning-icon icon-name="utility:error" size="xx-small" variant="inverse" ></lightning-icon>
                    </span>
                    <h2>{error}</h2>
                </div>
            </template>
            
        </div>
    </lightning-card>
</template>