.CORE_LWC_my-card {
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #F3F3F3;
    border-radius: 5px;
    border: solid 1px rgb(201,201,201);
}
.CORE_Error {
    border-radius: 5px!important;
}
:host {
    --sds-c-card-color-background: #F3F3F3;
    --sds-c-card-border-color: #C9C9C9!important;
}