.THIS .content {
  height: 410px;
  overflow: auto;
  padding-right: 10px;
}

.THIS .content.compact {
  height: 315px;
}

.THIS .InlineMessage {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
}

.THIS .InlineMessage-default {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-x: hidden;
}

.THIS .InlineDateSeparator {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
}

.THIS .DateSeparator {
  flex: 1 1 1px;
  margin: auto;
  border-color: rgb(198, 202, 215);
}

.THIS .Date {
  flex: 0 1 auto;
  margin-left: 12 px;
  margin-right: 12 px;
  font-size: 10px;
  letter-spacing: 2px;
  color: rgb(34, 34, 34);
}

.THIS .Date .twilioPhone {
  font-weight: 700;
}
.THIS .Date .twilioPhone.invalid,
.THIS .Date .customerPhone.invalid {
  color: #d32f2f;
}

.THIS .InlineMessage-end {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 1;
  overflow-x: hidden;
}

.THIS .MessageListItem {
  flex: 1 1 100%;
  flex-direction: column;
  margin-bottom: 0px;
  margin-top: 3px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.THIS .MessageListItem-default {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-x: hidden;
}

.THIS .MessageListItem-ContentContainer {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
}

.THIS .MessageListItem-BubbleContainer {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  min-width: 100px;
  overflow-x: hidden;
  margin-left: 0px;
  margin-right: 44px;
}

.THIS .agent .MessageListItem-BubbleContainer {
  margin-left: auto;
  margin-right: 0px;
}

.THIS .MessageBubble {
  color: rgb(34, 34, 34);
  background: rgb(236, 237, 241);
  border-radius: 4px;
  margin-left: 0px;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
}
.THIS .agent .MessageBubble {
  color: rgb(255, 255, 255);
  margin-left: 32 px;
}
.THIS .agent.CORE_PKL_SMS_Chat .MessageBubble {
  background: rgb(216, 27, 96);
}
.THIS .CORE_PKL_SMS_Chat .MessageBubble {
  border-top: 3px solid rgb(216, 27, 96);
}
.THIS .agent.CORE_PKL_Whatsapp .MessageBubble {
  background: rgb(43, 184, 38);
}
.THIS .CORE_PKL_Whatsapp .MessageBubble {
  border-top: 3px solid rgb(43, 184, 38);
}
.THIS .agent.CORE_PKL_SMS_Marketing.error .MessageBubble,
.THIS .agent.CORE_PKL_SMS_Marketing.undefined .MessageBubble {
  color: rgb(34, 34, 34);
  background: rgb(236, 237, 241);
  border-top: 3px solid #ff6f00;
}
.THIS .agent.CORE_PKL_SMS_Marketing.delivered .MessageBubble {
  background: #ff6f00;
}
.THIS .agent.CORE_PKL_Other .MessageBubble {
  background: #d2a926;
}

.THIS .record .MessageBubble {
  background: #1976d2;
}

.THIS audio {
  height: 20px;
  margin-top: 5px;
}

.THIS .MessageBubble-default {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-x: hidden;
}

.THIS .MessageBubble-Header {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  color: rgb(34, 34, 34);
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
}

.THIS .agent .MessageBubble-Header {
  color: rgb(255, 255, 255);
}
.THIS .agent.CORE_PKL_SMS_Marketing.error .MessageBubble-Header,
.THIS .agent.CORE_PKL_SMS_Marketing.undefined .MessageBubble-Header {
  color: rgb(34, 34, 34);
}

.THIS .MessageBubble-UserName {
  font-size: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 0 1 auto;
  margin-right: 8px;
  font-weight: bold;
}

.THIS .MessageBubble-Time {
  font-size: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 0 0 auto;
}

.THIS .MessageBubble-Body {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-size: 12px;
  line-height: 1.54;
  overflow-wrap: break-word;
  padding-bottom: 8px;
}
.THIS .MessageBubble-BodyTime {
  display: block;
}

.THIS .MessageBubble-end {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 1;
  overflow-x: hidden;
}

.THIS .MessageListItem-end {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 1;
  overflow-x: hidden;
}

.THIS .ImageContainer {
  padding-left: 10px;
  padding-bottom: 10px;
}

.THIS .ImageContainer img {
  width: 100%;
  cursor: pointer;
}

.THIS .PdfContainer {
  padding: 5px;
}

.THIS .VideoContainer video {
  width: 100%;
}

.THIS .AudioContainer {
  padding: 5px;
}

.THIS .AudioContainer audio {
  width: 100%;
}