<template>

    <template if:true={isRequired}>
        <abbr title="required" class="slds-required">*</abbr>
    </template>
    <label class="slds-form-element__label" for="combobox-id-1">{inputLabel}</label>

    <template if:true={isDisabled}>
        <lightning-input    type="date" 
                            variant="label-hidden" 
                            placeholder={inputPlaceholder} 
                            onchange={getOutputValue}
                            value={outputValue}
                            disabled>
        </lightning-input>
    </template>
    <template if:false={isDisabled}>
        <lightning-input    type="date" 
                            variant="label-hidden" 
                            placeholder={inputPlaceholder} 
                            value={outputValue}
                            onchange={getOutputValue}>
        </lightning-input>
    </template>
</template>