<template>
    <template if:true={loading}>
        <lightning-spinner alternative-text="loading"></lightning-spinner>
    </template>

    <lightning-card>

        <h1 slot="title">{labels.lbl_PageTitle}</h1>

        <div class="c-container">
            <template if:true={inProgress}>
                <div style="width: 100%; font-size: 13px;color: #ff0000;text-align: center;font-weight: bold;">
                    Job of opportunities re-registration is in progress
                </div>
            </template>

            <lightning-layout vertical-align="end">

                <lightning-layout-item padding="around-small" size="1"></lightning-layout-item>
                
                <lightning-layout-item padding="around-small" size="3">

                    <lightning-combobox
                        label={labels.lbl_SearchOpp}
                        placeholder={labels.lbl_SearchOppPlaceholder}
                        value={selectedView}
                        options={viewsList}
                        onchange={handleChangeView}
                        disabled={inProgress}
                    ></lightning-combobox>
                    
                </lightning-layout-item>

                <template if:true={isViewSelected}>
                    <lightning-layout-item padding="around-small" size="1"></lightning-layout-item>
                    <lightning-layout-item padding="around-small" size="3">
                        <!--<b>Number of Opportunties</b>
                        <p>{viewSelected.size}&nbsp;opportunities are selected through this view</p>-->
                        <lightning-formatted-rich-text value={noOfOppText}></lightning-formatted-rich-text>
                        
                    </lightning-layout-item>
                </template>
                
            </lightning-layout>
            <br/>

            <lightning-layout horizontal-align="center">
                <lightning-layout-item size="12" style="border-bottom: 2px solid #ECEBEA;"></lightning-layout-item>
            </lightning-layout>
            <br/>

            <lightning-layout>
                <lightning-layout-item padding="around-small" size="1"></lightning-layout-item>
                <lightning-layout-item padding="around-small" size="6">
                    <lightning-record-edit-form object-api-name="CORE_PriceBook_BU__c" record-id="">
                        <table style="width: 80%;border-spacing: 8px;border-collapse: separate;">
                            <tr>
                                <td style="width: 40%;">
                                    <label class="slds-form-element__label">{labels.lbl_Confirm_BU_Opp}</label>
                                </td>
                                <td style="width: 40%;">
                                    <lightning-combobox
                                        label=""
                                        placeholder=""
                                        value={selectedBU}
                                        options={busList}
                                        onchange={handleChangeBU}
                                        variant="label-hidden"
                                        disabled={isViewNotSelected}
                                    ></lightning-combobox>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 40%;">
                                    <label class="slds-form-element__label">{labels.lbl_Select_New_Academic_Year}</label>
                                </td>
                                <td style="width: 40%;">
                                    <lightning-input-field  value={currentValue}  field-name="CORE_Academic_Year__c" variant="label-hidden" onchange={handleChangeAY} disabled={isViewNotSelected}> </lightning-input-field>
                                </td>
                            </tr>
                        </table>
                    </lightning-record-edit-form>
                </lightning-layout-item>
            </lightning-layout>

            <lightning-layout if:false={allFiltersDisabled}>
                <lightning-layout-item padding="around-small" size="1"></lightning-layout-item>
                <lightning-layout-item padding="around-small" size="6">
                    <strong>Total selected:</strong>&nbsp;{totalSelected}
                </lightning-layout-item>
            </lightning-layout>
        </div>

        <div slot="footer" style="text-align:right;">

            <lightning-button variant="brand" label={labels.lbl_btn_ConfirmOpportunitiesReregistration} title="" onclick={changeAY} class="slds-m-left_x-small" disabled={allFiltersDisabled}>
            </lightning-button>
        </div>

        <template if:true={showConfirmMsg}>
            <lightning-card>
                <div class="slds-container_small">
                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container">
                            <header class="slds-modal__header">
                                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Confirm Close</h2>
                            </header>
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                <p style="text-align: center;">{confirmMsg}</p>
                            </div>
                            <footer class="slds-modal__footer">
                                <lightning-button variant="neutral"
                                    name="cancel"
                                    label={labels.lbl_btn_Cancel}
                                    title={labels.lbl_btn_Cancel}
                                    onclick={cancelReregistration} >
                                </lightning-button>
                                &nbsp;
                                <lightning-button variant="brand"
                                    name="confirm"
                                    label={labels.lbl_btn_Confirm}
                                    title={labels.lbl_btn_Confirm}
                                    onclick={confirmReregistration} >
                                </lightning-button>
                            </footer>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </div>
            </lightning-card>
            
        </template>

    </lightning-card>

</template>