<template>

        <div style={componentStyle} >
                <template if:true={isRequired}>
                        <abbr title="required" class="slds-required">*</abbr>
                </template>
                <label class="slds-form-element__label" for="combobox-id-1">{inputLabel}</label>
                <template if:true={showCombobox}>
                        <template if:true={isDisabled}>
                                <lightning-combobox 
                                        name={comboboxName} 
                                        label={comboboxLabel}
                                        variant="label-hidden" 
                                        value={selectedValue}
                                        placeholder={comboboxPlaceholder}
                                        options={comboboxOptions}
                                        disabled
                                        dropdown-alignment={dropdownAlignment}>
                                </lightning-combobox>   
                        </template>
                        <template if:false={isDisabled}>
                                <lightning-combobox 
                                        name={comboboxName} 
                                        label={comboboxLabel}
                                        variant="label-hidden" 
                                        value={selectedValue}
                                        placeholder={comboboxPlaceholder}
                                        options={comboboxOptions}
                                        dropdown-alignment={dropdownAlignment}
                                        onchange={comboboxChangeHandler} >
                                </lightning-combobox>   
                        </template>
                </template>
        </div>

</template>