<template>
    <div class="cmbContainer">
    <template if:true={isRequired}>
        <abbr title="required" class="slds-required">*</abbr>
    </template>
    <label class="slds-form-element__label" for="combobox-id-1">{comboboxLabel}</label>

    
        <lightning-combobox name={comboboxName}
                            variant="label-hidden"
                            value={selectedValue}
                            placeholder={comboboxPlaceholder}
                            options={comboboxOptions}
                            dropdown-alignment={dropdownAlignment}
                            onchange={comboboxChangeHandler} >
        </lightning-combobox>
    </div>
    
</template>