.THIS .btn {
  width: 100%;
}

.THIS .btn.sms {
  color: rgb(216, 27, 96);
  border-color: rgb(216, 27, 96);
}

.THIS .btn.sms[disabled],
.THIS .btn.whatsapp[disabled] {
  color: var(--lwc-colorTextButtonDefaultDisabled, rgb(221, 219, 218));
  border-color: initial;
}

.THIS .btn.whatsapp {
  color: rgb(43, 184, 38);
  border-color: rgb(43, 184, 38);
}

.THIS .errorButton {
  display: block;
  text-align: right;
  color: red;
}