/**
 * Created by Gabriele Vitanza on 03/11/2021.
 */

.THIS .slds-button{
    background: none!important;
    border: none;
    color: var(--lwc-brandTextLink,rgb(0, 109, 204));
    text-decoration: none;
    transition: color .1s linear;
}

.THIS .slds-button:hover{
    text-decoration: underline;
}